<div class="limit">
  <div class="create">
    <form [formGroup]="form" (ngSubmit) = "submit()">
      <h2>Создание нового поста</h2>

      <div
        [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
        class="form-control">
        <label for="title">Название поста:</label>
        <input id="title" type="text" formControlName="title">
        <div
          *ngIf="form.get('title').touched && form.get('title').invalid"
          class="validation">
          <small *ngIf="form.get('title').errors.required">
            Заполните поле
          </small>
        </div>
      </div>

      <div
        [ngClass]="{invalid: form.get('descrip').touched && form.get('descrip').invalid}"
        class="form-control">
        <label for="descrip">Описание поста:</label>
        <input id="descrip" type="text" formControlName="descrip">
        <div
          *ngIf="form.get('descrip').touched && form.get('descrip').invalid"
          class="validation">
          <small *ngIf="form.get('descrip').errors.required">
            Заполните поле
          </small>
        </div>
      </div>

      <div class="form-control">
        <label>Контент поста:</label>
        <quill-editor formControlName="text"></quill-editor>
      </div>

      <div
        [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}"
        class="form-control">
        <label for="author">Автор поста:</label>
        <input id="author" type="text" formControlName="author">
        <div
          *ngIf="form.get('author').touched && form.get('author').invalid"
          class="validation">
          <small *ngIf="form.get('author').errors.required">
            Заполните поле
          </small>
        </div>
      </div>

      <button type="submit" class="btn" [disabled]="form.invalid">Создать пост</button>
    </form>


  </div>
</div>
