@import "variables.scss";

.card{
  width: 15em;
  height: 25em;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 0.5em;
  margin: 2em;
  padding: 2em;
  //overflow:hidden;
  display: flex;
  flex-direction: column;
  .card-body{
    flex: 1;
    display: flex;
    flex-direction: column;
    .card-text{
      flex: 1;
      overflow: hidden;
    }
    button{
      align-self: end;
    }
  }
  &-header{
    width: 22em;
    height: 14em;
    margin: -2em -3.5em 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 0.5em;
    img{
      width: 100%;
      height: 100%;
      border-radius: 0.5em;
      object-fit: cover;
    }
  }
}
