<div class="page-inner">
  <div class="header-wrapper"  [style.backgroundColor]="mainPage?'transparent':'#1F2041'">
    <header class="main-header limit" >
      <h1>
        <a routerLink="/">GTAV ROLEPLAY SERVER</a>
      </h1>
        <nav class="main-nav">
          <ul class="topmenu">
            <li>
              <a [routerLink]="['/', 'news']">News</a>
            </li>
            <li *ngIf="auth.isAuthenticated()==false">
              <a [routerLink]="['/', 'login']">Sign In</a>
            </li >
            <li *ngIf="auth.isAuthenticated()==false">
              <a [routerLink]="['/', 'register']">Sign Up</a>
            </li>
            <li *ngIf="auth.isAuthenticated()">
              {{profileService.profile.name}}

              <ul class="submenu">
                <li><a [routerLink]="['/', 'profile']">Profile</a></li>
                <li><a href="#" (click)="logout($event)">Logout</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      <div class="profile-image" *ngIf="auth.isAuthenticated()">
        <img [src]="profileService.profile.image">
      </div>
    </header>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <div class="footer-wrapper" [style.display]="mainPage?'none':''">
    <footer class="main-footer limit">
      <h1>
        <a routerLink="/">Roleplay</a>
      </h1>
    </footer>
  </div>
</div>
