@import "variables.scss";
.header-wrapper, .footer-wrapper{
  background-color: $black;
  height: 5em;
  z-index: 2;
}
.main-header, .main-footer{
  color: $black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  h1{
    margin-right: inherit;
  }
}

.page-inner{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
  height: 100%;
}

.profile-image{
  width: 5%;
  margin: 0 20px;
  &--inner{
    width: 100%;
    padding-top: 100%;
    position: relative;
  }
  img{
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.submenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  z-index: 10;
  padding-left: 0;
  visibility: hidden;
  li{
    border-color: $white;
    background-color: $black;
    padding: 10px 30px;
    &:hover{
      a{
        color: $black;
      }
      background-color: $white;
    }
  }
}

.topmenu li:hover .submenu {
  visibility: visible;
}
