@import "variables.scss";

#dropMenu{
  position: absolute;
  top: 1em;
  left: 1em;
}

.main-nav{
  display: none;
}

.header-title{
  width: 100%;
  a{
    float: right;
  }
}

.header-wrapper, .footer-wrapper{
  background-color: $black;
  height: 5em;
  z-index: 2;
  position: relative;
}
.main-header, .main-footer{
  color: $black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  h1{
    margin-right: inherit;
  }
}

.page-inner{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
  height: 100%;
}

.profile-image{
  width: 5%;
  margin: 0 20px;
  &--inner{
    width: 100%;
    padding-top: 100%;
    position: relative;
  }
  img{
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.submenu, .drop-submenu{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  z-index: 10;
  padding-left: 0;
  visibility: hidden;
  li{
    border-color: $white;
    background-color: $black;
    padding: 10px 30px;
    &:hover{
      a{
        color: $black;
      }
      background-color: $white;
    }
  }
}

.topmenu li:hover .submenu {
  visibility: visible;
}
.drop-menu .drop-submenu li:hover .submenu {
  li{
    border-color: $black;
    background-color: $white;
    padding: 10px 30px;
    &:hover{
      a{
        color: $white;
      }
      background-color: $black;
    }
  }
  visibility: visible;
}

.drop-submenu{
 visibility: visible;
 left: 1em;
 top: 4em;
}

.profile-image{
 display: none;
}

@media screen and (min-width: 550px) {
  #dropMenu{
    display: none;
  }
  .drop-menu{
    display: none;
  }
  .main-nav{
    display: block;
  }
  .header-title{
    width: auto;
  }

  .profile-image{
    display: block;
  }

}
