@import "variables.scss";
.header-wrapper, .footer-wrapper{
  background-color: $black;
  height: 5em;
  z-index: 2;
}
.main-header, .main-footer{
  width: 70%;
  margin: 0 auto;
  color: $black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.page-inner{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //flex-grow: ;
}
.container{
  flex: 1;
}
