
@import '~swiper/swiper.scss';
@import 'variables.scss';

.content-wrapper{

  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  .main-content{
    width: 100%;
    height: calc(100vh - 2px);
    background: $black;
    border-bottom: 2px black solid;
    scroll-snap-align: center;
  }
  .main-content:first-child{
    height: calc(100vh - 2px);
    margin-top: -5em;
    //position: absolute;

  }
}

.swiper-container{
  width: 100%;
  height: 100%;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
  }
}
.swiper-img{
  width: 100%;
  height: 100%;
}
